:root {
    --pri-bg-color: #444444;
    --sec-bg-color: #000000;
    --op-bg-color: rgba(0, 0, 0, 0.5);
    --pri-txt-color: #FFFFFF;
    --pri-btn-color: #D63537;
    --pri-btntxt-color: #000000;
    --sec-btntxt-color: #FFFFFF;
}

html {
    font-size: 16px;
}

header.header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    margin: 0;
    font-family: Rockwell, sans-serif;
    color: var(--pri-btn-color);
    font-weight: 900;
}

.myFooter {
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* bulma classes */

.subtitle {
    display: inline-block;
    font-family: Rockwell, sans-serif;
    color: var(--pri-txt-color);
    background-color: var(--op-bg-color);
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
}

.is-primary {
    background-color: var(--pri-btn-color);
    color: var(--pri-txt-color);
    border-radius: 6rem;
    padding: 0.3rem 1.5rem;
}

.footer {
    padding: 3rem 1.5rem 3rem;
}

.has-text-primary {
    color: #ffffff !important;
}

/* bulma classes */